/*
Keyword colors can be found at http://colours.neilorangepeel.com/
        <!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
*/

/* border-box fix */
/* html {
    box-sizing: border-box;
} */

/* *,
*:before,
*:after {
    box-sizing: inherit;
} */

/* .messageBox {
    height: 40%;
    width: 80%;
    font-size: 5vh;
} */

:root {
    --labelFontSize: 5vh;
    --buttonFontSize: 5vh;
    --buttonWidth: 70%;
    --messageFontSize: min(5vh, 10vw);
}

.topPart {
    display: flex;
    flex-direction: row;
}

.topPart {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    background-color: blueviolet;
}

/* topPart Contents */
.gameTitle {
    padding-left: 2%;
    /* horizontal for row or vertical for column */
    justify-content: left;
    width: 58%;
}

.gameDescription {
    padding-right: 2%;
    /* horizontal for row or vertical for column */
    justify-content: right;
    width: 42%;
}

.gameDescription,
.gameTitle {
    display: flex;
    flex-direction: row;

    color: white;
    font-size: 100%;
    /* vertical for row or horizontal for column*/
    align-items: center;
}

@media screen and (max-width: 600px) {
    /* .messageBox {
        height: 40%;
        width: 100%;
        font-size: var(--theFontSize);
    } */
    .topPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .gameTitle,
    .gameDescription {
        padding-left: 5vh;
        font-size: min(2.5vh, 4vw);
        /* display: flex; */
        /* flex-direction: column; */
        width: 100%;
        height: 30%;
        /* horizontal for row or vertical for column */
        justify-content: left;
        align-items: center;
        /* word-wrap: none; */
    }

    :root {
        --labelFontSize: 3vh;
        /* --messageFontSize: 2vw; */
        --buttonFontSize: min(5vh, 10vw);
        --buttonWidth: 90%;
    }
}

/* :root {
    --fullFontSize: 5vh;
    --phoneFontSize: 2vw;
    --testFontSize: 10vw;
    --white: #ffffff;
} */

body,
p {
    padding: 0;
    margin: 0;
    /* text-size-adjust: auto; */
}

h1,
h2 {
    text-transform: uppercase;
}

/* SCREEN DIVISIONS */
.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(179, 230, 230);
    overflow: hidden;
}

/* .topPart {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    background-color: rgb(212, 25, 200);
} */

.secretPart {
    /*Necessary to get the inner container (secretBox) to center vertically*/
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: rgb(255, 255, 105);
}

.bottomPart {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    /* display: inline; */
}

/* DIVISIONS OF BOTTOM PART */
.inputPart,
.messagePart {
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 230, 230);
    width: 50%;
    height: 100%;
    margin: auto;
}

/* CONTENTS */
/* topPart Contents */
/* .gameTitle {
    padding-left: 2%; */
/* horizontal for row or vertical for column */
/* justify-content: left;
} */

/* .gameDescription {
    padding-right: 2%;  */
/* horizontal for row or vertical for column */
/* justify-content: right;
} */

/* .gameDescription,
.gameTitle {
    display: flex;
    flex-direction: row;
    width: 50%;
    color: white;
    font-size: 100%; */
/* vertical for row or horizontal for column*/
/* align-items: center;
} */

/* secretPart Contents Notice this is not flex */
.secretBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80%;
    padding-left: 1vh;
    padding-right: 1vh;
    width: fit-content;
    margin-top: 0;
    margin: auto;
    text-align: center;
    color: coral;
    background-color: cornflowerblue;
    font-size: min(10vh, 40vw);
    border-width: 1%;
    border-style: solid;
    border-color: coral;
    border-radius: 10vh;

    /* margin: 1.5vh 0 1.5vh 0; */
    min-width: 20vw;
}

.messageText,
.score,
.highestScore {
    background-color: antiquewhite;
}

/* .inputLabel, */
.label {
    width: 50vw;
    /* margin-left: 1vw;
    margin-top: 1vh; */
    font-size: var(--labelFontSize);
    color: rgb(0, 0, 0);
}

/* .messageBox {
    height: 40%;
    font-size: min(5vh, 3vw);
} */

.messageBox {
    height: 40%;
    width: 80%;
    font-size: 100px;
    /* font-size: var(--messageFontSize); */
    word-break: normal;
    word-wrap: normal;
    /* word-break: break-all;
    word-wrap: break-word; */
}

.scoreBox,
.highestScoreBox {
    font-size: 5vh;
}

.messageBox,
.scoreBox,
.highestScoreBox {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0;
    width: 80%;
    border-style: solid;
    border-radius: 3vh;
    border-color: deepskyblue;
    background-color: antiquewhite;

    /* horizontal for row or vertical for column */
    justify-content: center;

    /* vertical for row or horizontal for column*/
    align-items: center;
}

.inputNumber {
    height: 20%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: min(10vh, 20vw);
    text-align: center;
    background-color: antiquewhite;
}

button {
    background-color: cornflowerblue;
    /* min-width: 30vw; */
    /* width: 70%; */
    width: var(--buttonWidth);
    height: 20%;
    font-size: var(--buttonFontSize);
    /* font-size: 4vh; */
    border-radius: 5vh;
    margin: auto;
}

button:hover {
    background-color: aqua;
}
